body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    color: white;
    padding: 4px;
    display: inline;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    justify-content: center;
    text-align: center;
}
  
  nav ul li {
    display: inline;
    margin: 0 10px;
}
  
  nav ul li a {
    color: white;
    text-decoration: none;
    justify-content: center;
}
h1 {
    text-align: center;
    padding: 50px;
    font-size: 3rem;
    margin: 0;
    color: skyblue;
    height: -3vh;
}



.contact-form {
    max-width: 600px;
    margin: 30px auto;
    padding:  30px 40px 30px 30px;
    
    background-color: #333;
    border-radius: 8px;

}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #222;
    color: white;
}

input:hover {
    background-color: #007bff;
}

textarea:hover {
    background-color: #007bff;
}
.contact-form button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 4px;
}

.contact-form button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: #222;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
